<div class="container">
    <div class="row">
        <div class="offset-3"></div>
        <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

                <div *ngFor="let field of formFields" >
                    <label for={{field.id}}>{{field.label}} </label>
                    <div class="form-group">
                        <input placeholder="{{field.defaultValue}}" type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string'" >
                        <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
                        <input type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
                        <input  *ngIf="field.properties.type == 'file'"  type="file" accept="application/pdf"  (change)="fileChoserListener($event.target.files, field)">

                    </div>

                </div>

                <input type="submit" class="btn btn-primary pull-right">
            </form>

        </div>
        <div class="offset-3"></div>
    </div>
</div>

