<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #03A9F4">
  <a class="navbar-brand" routerLink="home">
    <div>Naucna centrala</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul id="user" class="navbar-nav ml-auto" style="margin-right: 5%">

      <li  class="nav-item active" >
        <a class="nav-link" routerLink="textEdit" >Kreiranje novog rada</a>
      </li>
      <li  class="nav-item active" >
        <a class="nav-link" routerLink="pregledRadova" >Pregled dodatih radova</a>
      </li>
      <!--<li  class="nav-item active" >-->
        <!--<a class="nav-link" routerLink="corectData" >UREDNIK Ispravljanje podataka o casopisu</a>-->
      <!--</li>-->
      <!--<li  class="nav-item active" >-->
        <!--<a class="nav-link" routerLink="createJournal" >UREDNIK Kreiraj casopis </a>-->
      <!--</li>-->
      <!--<li  class="nav-item active" >-->
        <!--<a class="nav-link" routerLink="admin" >ADMIN Potvrda recenzenata </a>-->
      <!--</li>-->
      <!--<li  class="nav-item active" >-->
        <!--<a class="nav-link" routerLink="journalsAdmin" >ADMIN Dodati casopisi </a>-->
      <!--</li>-->
      <li *ngIf="userRole === ''" class="nav-item active" >
        <a class="nav-link" routerLink="login" >Prijava na sistem</a>
      </li>
      <li *ngIf="userRole === ''"  class="nav-item active" >
        <a class="nav-link" routerLink="register">Registracija </a>

      </li>
      <li  class="nav-item active" >
        <a class="nav-link" (click)="logout()"   >Odjava </a>
      </li>



    </ul>
  </div>
</nav>
